@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

@mixin md {
	@media (max-width: 800px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 801px) {
		@content;
	}
}

/* Base Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: black;
}

img {
	max-width: 100%;
	display: block;
}

//a {
//	color: #6a998b;
//}
